name: CI/CD for Streamlit App with Frontend

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

       # FRONTEND SETUP
    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '16'

    - name: Install frontend dependencies
      working-directory: frontend
      run: |
        npm install

    - name: Build frontend
      working-directory: frontend
      run: |
        npm run build

    # STREAMLIT TEST (optional)
  
